/data/
/wandb/
/.env
/tmp/
/used-config/
/wandb_tmp/
/pretrained_models/resnet18_breakout_out512_seq1/simclr-pretrain_checkpoint.pt
/pretrained_models/resnet18_breakout_out512_seq2/simclr-pretrain_checkpoint.pt
/pretrained_models/resnet18_breakout_out512_seq4/simclr-pretrain_checkpoint.pt
/pretrained_models/resnet18_breakout_out512_seq8/simclr-pretrain_checkpoint.pt
/pretrained_models/resnet50_breakout_out512_seq1/simclr-pretrain_checkpoint.pt
/pretrained_models/resnet50_breakout_out512_seq2/simclr-pretrain_checkpoint.pt
/pretrained_models/resnet50_breakout_out512_seq4/simclr-pretrain_checkpoint.pt
/pretrained_models/resnet50_breakout_out512_seq8/simclr-pretrain_checkpoint.pt
/pretrained_models/naturecnn_breakout_out512_seq1/simclr-pretrain_checkpoint.pt
/pretrained_models/naturecnn_breakout_out512_seq2/simclr-pretrain_checkpoint.pt
/pretrained_models/naturecnn_breakout_out512_seq4/simclr-pretrain_checkpoint.pt
/pretrained_models/naturecnn_breakout_out512_seq8/simclr-pretrain_checkpoint.pt
